/.coverage
/.idea
/.pytest_cache
/conf.py
/exceptions.py
/htmlcov
/index.rst
/make
/make.bat
/Makefile
/server.html
/settings
/test_server.py
/test__client.py
/_build
/_static
/_templates
/__pycache__